@media screen and (max-width :1240px) {
    /* home section */
    .home-container {
        gap: 2rem;
    }
    /* skills section */
    .skills-box-containers {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width :950px) {
      
/* about section */
    .edu-data {
        flex-direction: column;
    }

    .education-data h2 {
        font-size: 1.5rem;
    }

    .edu-box h3 {
        font-size: 1.5rem;
    }

    .edu-box span {
        font-size: 1rem;
    }

    .intro {
        margin: 1.5rem;
        gap: 1.5rem;
    }

    .intro h2 {
        font-size: 1.5rem;
    }

    .intro p {
        font-size: 1rem;
    }
}

@media screen and (max-width :880px) {
        /* all section tag */
section {
    min-height: 100vh;
    width: 100%;
    /* padding: 2rem 12%; */
}

/* home section */
    .home-container {
        flex-direction: column;
        gap: 5rem;
    }
/* skills section */
    .skills-box-containers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        margin-top: 0.5rem;
        padding: 0.5rem 60px;
        font-size: 1rem;
    }

    .skill-title i {
        font-size: 4rem;
        margin: 1rem;
    }
    .skill-title img {
        width: 4rem;
        margin: 1.5rem 0;
    }
    
/* contact section */
    .form-container i {
        font-size: 1rem;
    }

    .form-container input {
        width: 50vmin;
    }

    .form-container button {
        font-size: 2.5vmin;
    }

    .footer-container {
        margin-top: 2rem;
    }

}

@media screen and (max-width :720px) {

/* header of the sections names */
.header .navList{
    display: block;
    position: absolute;
    top: 100%;
    right:0;
    margin-top: 1rem;
    width: 100%;
    height: 60vh;
    padding: 1vmin;
    color: white;
    background-color: black;   
    display: flex;
    flex-direction: column; 
}
.header .navBar {
    position: absolute;
    top: 100%;
    right: -100%;
    background: white;
    width: 100vw;
    height: calc(100vh - 9.5rem);
}
.navList a{
    font-size: 1.5rem;
    margin: 1rem;
}
.navList a::before {
    top: 2rem;
}

.header-title h3 {
    font-size: 1rem;
    font-weight: 500;
    opacity: 0.8;
}

.header-title h1 {
    font-size: 3rem;
    margin: .5rem;
    font-weight: 500;
}
.header i{
    display: block;
    color: white;
    font-size: 2rem;
}
  
/* skills section */
    .skills-box-containers {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width :650px) {
   /* home section */
   
.information h3 {
    font-size: 1.3rem;
}

.information h1 {
    font-size: 2.5rem;
}

.information span {
    font-size: 1.5rem;
  
}

.btns,
.socialMedia {
    display: flex;
    gap: .5rem;
}

.btn {
    padding: 0.5rem 1rem;
}
.socialMedia i {
    font-size: 2rem;
    
    margin: 0 .5rem;
}
/* project section */
.project-box h3 {
    font-size: 1.5rem;
}

/* contact section */
.contact-container{
    flex-direction: column;
}
.footer-container {
    margin-top: 2rem;
    gap: 0.5rem;
    font-size: 2.5vmin;
}

.footer-container a {
    border-radius: 3rem;
    padding: 0.2vmin 1.3vmin;
}
.footer-container i {
    margin: .5rem;
}

}